html{
	/*font-family:'fengguangmingrui';*/
	font-family: 'Noto Sans SC', sans-serif;
	/*font-family: 'ZCOOL XiaoWei', serif;*/
}

h1{
	/*font-family:'fengguangmingrui';*/
	/*font-family: 'Noto Sans SC', sans-serif;*/
	font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'guanheiti', serif;
    
	font-weight: 700;
}

h2{
    /*font-family: 'ZCOOL XiaoWei', serif;*/
    /*font-family:'fengguangmingrui';*/
}
